<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Todos for today:</h1>
<a href="/todo/add">Gyerunk</a>
<table>
    <tr>
        <th>ID</th>
        <th>Action</th>
        <th>Done</th>
        <th>Urgent</th>
    </tr>
    <tr th:each="todo : ${todos}">
        <td th:text="${todo.id}"></td>
        <td th:text="${todo.title}"></td>
        <td th:text="${todo.done}?'true':'false'"></td>
        <td th:text="${todo.urgent}?'true':'false'"></td>
        <td><form  th:action="@{'/todo/' + ${todo.id} + '/delete'}">
            <input type="submit" value="Delete">
        </form></td>
        <td><form th:action="@{'/todo/' + ${todo.id}}">Editt</form></td>
    </tr>
</table>


</body>
</html>