<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Assignee details</h1>
<h2 th:text="'The list of todos assigned to' + ${assignee.name} + ':'"></h2>
<table>
    <tr>
        <th>ID</th>
        <th>Action</th>
        <th>Done</th>
        <th>Urgent</th>
        <th>Assignee</th>
    </tr>
    <tr th:if="${assignee.getTodo().size() > 0}" th:each="todo : ${assignee.getTodo()}"  th:style="${todo.done}?'background-color: green'">
        <td th:text="${todo.id}"></td>
        <td th:text="${todo.title}"></td>
        <td th:text="${todo.done}?'true':'false'"></td>
        <td th:text="${todo.urgent}?'true':'false'"></td>
        <td th:if="${todo.assignee != null}" th:href="@{'/assignees/details/' + ${todo.assignee.id}}"><p th:text="${todo.assignee.name}"></p></td>
        <td><form  th:action="@{'/todo/' + ${todo.id} + '/delete'}">
            <input type="submit" value="Delete">
        </form></td>
        <td><form th:action="@{'/todo/edit/' + ${todo.id}}">
            <input type="submit" th:value="Editt">
        </form></td>
    </tr>
</table>
</body>
</html>