body{
    
    font-family: consolas, courier;
    background-image:url("../week%25201/day%202/")
    margin: 0;
    font-size: 18px
}
h1 {
    font-size: 36px
}


h2{
    text-align: center;
    margin: 35px 35px 40px;
}

a{
    color:#ff0099
}

.top-header {
    background-color: #333333;
    margin: 0 auto;
    text-align: right;
    padding: 13px 10% 19px;
    word-spacing:15px;
    font-size: 20px;
    
}

.page{
    padding:10%;
}

#developer{
    color:  #ff0099;
}

#picture{
    float:left;
    height: 29px;
    
}

