
@{
    ViewData["Title"] = "Add";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form action="/Add" method="post">
        <input type="text" name="Title"/>
        <input type="submit" name="teszt"/>
    </form>
</body>
</html>


