
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Urgent</th>
            <th>Done</th>
        </tr>
        @foreach (var kaki in Model)
        {
        <tr>
            <td>@kaki.Id</td>
            <td>@kaki.Title</td>
            <td>@kaki.IsUrgent</td>
            <td>@kaki.IsDone</td>
          
        </tr>
            
        }
</body>
</html>

