@model WebApplication1.Models.Greeting
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Getting Started: Serving Web Content</title>
    <link rel="stylesheet" type="text/css" href="~/test.css">
</head>
<body>
    <p>
        Hello @Model.Content
    </p>
</body>
</html>